<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Departamento</title>
    <link rel="stylesheet" href="/departamentoEstilo.css">
</head>

<body>
    
    <div class="caja">
        <h2>Departamento</h2>
        <p>Id: <span th:text="${departamento.id}"></span></p>
        <p>Nombre: <span th:text="${departamento.nombre}"></span></p>
        <p>Jefe del departamento: <span th:text="${departamento.managerId}"></span></p>
        <p>Direccion: <span th:text="${departamento.direccionId}"></span></p>
    </div>

    
    <div class="caja">
        <h2>Modificar Departamento</h2>
        <form action="#" th:action="@{/departamentos}" th:object="${departamento}" method="post">
            <p>Id: <input type="text" th:field="*{id}" /></p>
            <p>Nombre: <input type="text" th:field="*{nombre}" /></p>
            <p>Jefe del departamento: <input type="text" th:field="*{managerId}" /></p>
            <p>Direccion: <input type="text" th:field="*{direccionId}" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </div>
    <h2> <a th:href="@{/departamentos}">Volver a departamentos</a></h2>
</body>

</html>