<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="/inicioEstilo.css"/>
    <script src="javascript.js"></script>

    <title>Inicio</title>

</head>

<body>
    
    <div id="hr">HR</div>

    <table id="tabla">
        <tr>
            <td><button id="departamentos" class="cajas" onclick="location.href='/departamentos'" > Departamentos </button></td>
            <td><button class="cajas" onclick="location.href='/regiones'"> Regiones </button></td>
        </tr>
        
        
    </table>
    
    
</body>

</html>