<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Regiones</title>
	<link rel="stylesheet" href="/general.css" />
</head>

<body>
<div class="container">

	<h2>Regiones</h2>
	<ul>
		<li th:each="region:${regiones}">
		<div class="elementos">
			<div th:text="${region.nombre}"></div>		
		</div>
			
		</li>
	</ul>

	
	<form id="formulario" th:action="@{/regiones}" method="post">
		<h2>Crear Region</h2>
		<label>Nombre Region</label>
		<input type="text" name="nombre">
		<br>

		<label>Id Region</label>
		<input type="text" name="id">
		<br>

		<input type="submit" value="Submit">

	</form>
</div>
</body>
</html>