<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="ISO-8859-1">
    <title>Departamentos</title>
    <link rel="stylesheet" href="/departamentosEstilo.css"/>

</head>


<body>

    <ol id="listaDepartamentos">
        <h2>Departamentos</h2>
        
            <li   th:each="dep:${departamentos}" >  
                <div class="elemento">
                <a th:href="@{'/departamentos/'+${dep.id}}" target="_blank">
                    <span th:text="${dep.nombre}" th:href="@{'/departamentos/'+${dep.id}}"></span>

                    
                </a>
                </div>
                <br>                                               
    </ol>


    
    <button id="botonHome" onclick="location.href='/inicio'">
    	<img id="imagenHome" src="https://static.thenounproject.com/png/3574480-200.png" >
    </button>

</body>

</html>