<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Departamento</title>
    <link rel="stylesheet" href="/departamentoEstilo.css">
</head>

<body>
    
    <div class="caja"> 
        <h2>Departamento Detalle</h2>
        <p>Id: <span th:text="${departamento.id}"></span></p>
        <p>Nombre: <span th:text="${departamento.nombre}"></span></p>
        <p>Jefe del departamento: <span th:text="${departamento.managerId}"></span></p>
        <p>Direccion: <span th:text="${departamento.direccionId}"></span></p>
    </div>

    
    
    

    <button id="botonHome" onclick="location.href='/dw'">
    	<img id="imagenHome" src="https://static.thenounproject.com/png/3574480-200.png" >
    </button>

    <button id="botonDepartamentos" onclick="location.href='/departamentos'">
    	<h2>Departamentos<h2/>
    </button>
        
    <a  th:href="@{'/departamentos/modificarDepartamento/'+${departamento.id}}">
    	<button id="botonModificar"><h3>Modificar</h3></button>
    </a>
    
</body>

</html>