<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="/inicioEstilo.css"/>
    <script src="javascript.js"></script>

    <title>Inicio</title>

</head>

<body>
    
    <div id="hr">HR</div>

    <table id="tabla">
        <tr>
            <td><button id="departamentos" class="cajas" onclick="location.href='/departamentos'" > Departamentos </button></td>
        </tr>    
    </table>
    
    <div id="crearDepartamento">
        <h2>Crear Departamento</h2>

        <form th:action="@{/departamentos/formulario1}" method="post">

            <p>Id: <input type="text" name="id" /></p>
            <p>Nombre: <input type="text" name="nombre" /></p>
            <p>Jefe del departamento: <input type="text" name="managerId" /></p>
            <p>Direccion: <input type="text" name="direccionId" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
			<br>
        </form>
    </div>
    
    
</body>

</html>