<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/ModificarEstilo.css">

</head>
<body>

<div class="caja">
        <h2>Modificar Departamento</h2>
        <form action="#" th:action="@{/departamentos}" th:object="${departamento}" method="post">
            <p>Id: <input type="text" th:field="*{id}" /></p>
            <p>Nombre: <input type="text" th:field="*{nombre}" /></p>
            <p>Jefe del departamento: <input type="text" th:field="*{managerId}" /></p>
            <p>Direccion: <input type="text" th:field="*{direccionId}" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </div>
    
    <button id="botonHome" onclick="location.href='/dw'">
    	<img id="imagenHome" src="https://static.thenounproject.com/png/3574480-200.png" >
    </button>

</body>
</html>