/* Reset básico */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Estilo del cuerpo */
body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f7f6;
	color: #333;
	padding: 20px;
}

/* Contenedor principal */
.container {
	max-width: 800px;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

/* Título principal */
h1 {
	font-size: 24px;
	margin-bottom: 20px;
	color: #007bff;
	text-align: center;
}

/* Estilo de formularios */
form {
	display: flex;
	flex-direction: column;
}

/* Estilo de etiquetas */
label {
	font-size: 16px;
	margin-bottom: 8px;
	color: #555;
}

/* Estilo de campos de entrada */
input[type="text"], input[type="email"], input[type="date"], input[type="number"],
	input[type="password"] {
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 16px;
}

/* Estilo de botón */
button {
	padding: 10px 20px;
	font-size: 16px;
	color: #fff;
	background-color: #007bff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #0056b3;
}

/* Estilo de mensajes de error */
div.th-error {
	color: #d9534f;
	font-size: 14px;
	margin-top: -15px;
	margin-bottom: 10px;
}

/* Estilo de contenedores de campo */
.field-container {
	margin-bottom: 20px;
}

/* Estilo de mensajes de error por campo */
.field-error {
	color: #d9534f;
	font-size: 12px;
	margin-top: 5px;
}

/* Estilo de la barra de navegación */
.navbar {
	background-color: #007bff;
	padding: 10px 20px;
	border-radius: 4px;
	margin-bottom: 20px;
}

.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-brand {
	font-size: 20px;
	color: #c0c0c0;
	text-decoration: none;
}

.navbar-nav {
	list-style: none;
	display: flex;
}

.nav-item {
	margin-left: 20px;
}

.nav-link {
	font-size: 16px;
	color: #007bff;
	text-decoration: none;
}

.nav-link:hover {
	text-decoration: underline;
}

/*------------------------- Div con elementos en linea---------------------------------*/

.inline-container h2, .inline-container a {
	display: inline-block;
	vertical-align: middle; /* Alineación vertical */
}

.inline-container img {
	height: 40;
	/* Ajusta el tamaño de la imagen para que se alinee bien con el texto */
}

/*------------------------- Botones de paginacion ---------------------------------*/

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 3px;
}

.pagination a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover,
.pagination a:focus {
    background-color: #eee;
    border-color: #ddd;
    color: #23527c;
}

.pagination .active a {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
}

.pagination .disabled a {
    color: #777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}
/*------------------------- Ventanas modales---------------------------------*/

/* Modal estilos personalizados */
.modal-header {
    background-color: #007bff;
    color: white;
}

.modal-title {
    font-size: 24px;
}

.modal-body p {
    font-size: 16px;
}

.modal-body strong {
    color: #007bff;
}