<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
   <div th:fragment="header">
    <nav class="navbar">
        <div class="container">
            <a href="/" class="navbar-brand">HR Gestión</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="/empleados" class="nav-link">Empleados</a></li>
                <li class="nav-item"><a href="/departamentos" class="nav-link">Departamentos</a></li>
            </ul>
        </div>
    </nav>
    </div>
</body>
</html>