<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="/inicioEstilo.css"/>
    <script src="javascript.js"></script>

    <title>Inicio</title>

</head>

<body>
    
    <div id="titulo">Book sharing</div>

    <table id="tabla">
        <tr>
            <td><button id="libros" class="cajas" onclick="location.href='/libros'" > Libros </button></td>
            <td><button class="cajas" onclick="location.href='inicio/sobreProyecto'"> Sobre el proyecto </button></td>
        </tr>
        
        
    </table>
    
    
</body>

</html>